
<div class="container-fluid g-0">
    <div class="row" id="">
      <div class="col-lg-12 p-0">
        <div class="header_iner d-flex justify-content-between align-items-center">
          <div class="sidebar_icon">
            <!-- <i class="ti-menu"></i> -->
            <!-- <a (click)="nav.toggle()" style="padding-top: 0px;"><mat-icon>menu</mat-icon></a> -->
            <h3 style="margin-bottom: 0px;margin-left: 30px;color:rgba(177, 143, 4, 1);"><b>Project Master</b></h3>
            <h6 style="margin-left: 30px;color: gray;">Project Master</h6>
          </div>
          <div class="header_right d-flex justify-content-between align-items-center">
              <div>
                <a routerLink="Login" style="margin-right: 20px;">LogOut</a>
              </div>
              <div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
